body {
  margin: 0%;
  overflow-x: hidden;
}

body {
  font-family: Impact, Charcoal, sans-serif;
  margin: 0;
  overflow-x: hidden;
  background-image: url("../MathAmity2019/p9back.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#navbar {
  width: 100%;
  height: 7%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: black;
  color: white;
  transition: 1s;
  opacity: 1;
}

#navbar:hover {
  background-color: white;
  color: black;
}

#toTop {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 9%;
  right: 2%;
  border-radius: 50%;
  /*background-color: skyblue;*/
  background-image: linear-gradient(to bottom right, #b3f0ff, #00ccff);
  transition: 1s;
  font-size: 0.9vw;
  color: #305678;
  text-align: center;
  border: solid #34aaff 1px;
}

#toTop:hover {
  border-bottom-right-radius: 35%;
  border-bottom-left-radius: 35%;
  border-top-right-radius: 75%;
  border-top-left-radius: 75%;
  height: 55px;
  border: solid white 1px;
  background-color: #b3f0ff;
  color: #787878;
}

#p1 {
  width: 100%;
  height: 100%;
  /*background-color: skyblue; */
  background-image: linear-gradient(to bottom right, #222466, skyblue);
}

#headMain {
  font-size: 6.5vw;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 10%;
  color: white;
}

#the {
  font-size: 6.5vw;
  text-align: center;
  width: 50%;
  position: absolute;
  top: 15%;
  left: 0;
  color: white;
  transition: 2s;
  animation: theAnum 5s;
}

#the:hover {
  color: skyblue;
  font-size: 8.5vw;
  letter-spacing: 15px;
}

#psi {
  font-size: 30vw;
  text-align: center;
  width: 50%;
  position: absolute;
  top: 20%;
  left: 0;
  color: white;
  transition: 2s;
  animation: psiAnum 5s;
}

#psi:hover {
  color: #195860;
  font-size: 33vw;
}

#one {
  font-size: 6.5vw;
  text-align: right;
  width: 40%;
  position: absolute;
  top: 70%;
  left: 0;
  color: white;
  transition: 2s;
  animation: oneAnum 5s;
}

#one:hover {
  color: #222466;
  font-size: 8.5vw;
  letter-spacing: 15px;
}

@keyframes theAnum {
  0% {
    opacity: 0.4;
    transform: translate(100%, 0);
    color: skyblue;
  }
  50% {
    color: hotpink;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
    color: white;
  }
}

@keyframes psiAnum {
  0% {
    opacity: 0.4;
    transform: translate(0, 100%);
    color: #8f8f8f;
  }
  50% {
    color: #8f8f8f;
  }
  80% {
    color: hotpink;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes oneAnum {
  0% {
    opacity: 0.4;
    transform: translate(-100%, 0);
    color: hotpink;
  }
  80% {
    color: hotpink;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
    color: white;
  }
}

#headHelp1 {
  font-size: 6vw;
  text-align: right;
  width: 45%;
  margin-right: 5%;
  position: absolute;
  right: 0;
  animation: headHelpAnum1 15s infinite;
  animation-delay: 2s;
  opacity: 0;
  color: white;
  transition: 1.5s;
  opacity: 0;
}

#headHelp1:hover {
  color: #305678;
  letter-spacing: 7px;
}

#headHelp2 {
  font-size: 6vw;
  text-align: right;
  width: 45%;
  margin-right: 5%;
  position: absolute;
  right: 0;
  animation: headHelpAnum2 15s infinite;
  animation-delay: 2s;
  opacity: 0;
  color: white;
  transition: 1.5s;
  opacity: 0;
}

#headHelp2:hover {
  color: #875870;
  letter-spacing: 7px;
}

#headHelp3 {
  font-size: 6vw;
  text-align: right;
  width: 45%;
  margin-right: 5%;
  position: absolute;
  right: 0;
  animation: headHelpAnum3 15s infinite;
  animation-delay: 2s;
  opacity: 0;
  color: white;
  transition: 1.5s;
  opacity: 0;
}

#headHelp3:hover {
  color: #305645;
  letter-spacing: 7px;
}

@keyframes headHelpAnum1 {
  0% {
    opacity: 0;
    top: 60%;
  }
  11.1% {
    opacity: 1;
    top: 70%;
  }
  22.2% {
    opacity: 1;
    top: 70%;
  }
  33.3% {
    opacity: 0;
    top: 80%;
  }
  44.4% {
    opacity: 0;
    top: 80%;
  }
  55.5% {
    opacity: 0;
    top: 60%;
  }
  66.6% {
    opacity: 0;
    top: 60%;
  }
  77.7% {
    opacity: 1;
    top: 70%;
  }
  88.8% {
    opacity: 1;
    top: 70%;
  }
  100% {
    opacity: 0;
    top: 60%;
  }
}

@keyframes headHelpAnum2 {
  0% {
    opacity: 1;
    top: 70%;
  }
  11.1% {
    opacity: 0;
    top: 80%;
  }
  22.2% {
    opacity: 0;
    top: 80%;
  }
  33.3% {
    opacity: 0;
    top: 60%;
  }
  44.4% {
    opacity: 0;
    top: 60%;
  }
  55.5% {
    opacity: 1;
    top: 70%;
  }
  66.6% {
    opacity: 1;
    top: 70%;
  }
  77.7% {
    opacity: 0;
    top: 80%;
  }
  88.8% {
    opacity: 0;
    top: 80%;
  }
  100% {
    opacity: 1;
    top: 70%;
  }
}

@keyframes headHelpAnum3 {
  0% {
    opacity: 0;
    top: 80%;
  }
  11.1% {
    opacity: 0;
    top: 60%;
  }
  22.2% {
    opacity: 0;
    top: 60%;
  }
  33.3% {
    opacity: 1;
    top: 70%;
  }
  44.4% {
    opacity: 1;
    top: 70%;
  }
  55.5% {
    opacity: 0;
    top: 80%;
  }
  66.6% {
    opacity: 0;
    top: 80%;
  }
  77.7% {
    opacity: 0;
    top: 60%;
  }
  88.8% {
    opacity: 0;
    top: 60%;
  }
  100% {
    opacity: 0;
    top: 80%;
  }
}

#p1andhalf {
  width: 100%;
  height: 100%;
  background-image: url("../MathAmity2019/p1andHalfBack.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

#headp1andhalf {
  width: 100%;
  font-size: 4vw;
  color: hotpink;
  transition: 1.5s;
  text-align: center;
  transform: translate(0, 20%);
}

#headp1andhalf:hover {
  font-size: 4.5vw;
  color: #45aa90;
  letter-spacing: 5px;
}

#p2 {
  height: 100%;
  width: 100%;
  background-image: url("../MathAmity2019/p2back.png"), linear-gradient(to bottom, #343434, #676767);
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

#headp2 {
  font-size: 5vw;
  width: 100%;
  text-align: center;
  z-index: 1;
  transition: 1.5s;
  transform: translate(0, 40%);
}

#headp2:hover {
  color: skyblue;
  font-size: 5.25vw;
  letter-spacing: 15px;
}

#p2content {
  text-align: center;
  width: 36%;
  margin-left: 32%;
  margin-right: 32%;
  margin-top: 6%;
  font-size: 3vw;
  transition: 3s;
}

#p2content:hover {
  color: skyblue;
}

#p3 {
  height: 100%;
  width: 100%;
  background-image: url("../MathAmity2019/p3back.png");
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#p4 {
  height: 100%;
  width: 100%;
  background-image: url("../MathAmity2019/p4back.png");
  background-position: left;
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  color: black;
  overflow-y: hidden;
  overflow-x: hidden;
}

#headp4 {
  font-size: 5vw;
  width: 100%;
  text-align: center;
  z-index: 1;
  margin-top: 10%;
  margin-left: 5%;
  transition: 1.5s;
  transform: translate(10%, 20%);
}

#headp4:hover {
  font-size: 4.75vw;
  letter-spacing: 5px;
  color: orange;
}

#p4content {
  width: 40%;
  margin-left: 50%;
  margin-right: 10%;
  margin-top: 5%;
  text-align: center;
  font-size: 2.5vw;
  transition: 3.5s;
}

#p4content:hover {
  color: skyblue;
}

#p5 {
  height: 100%;
  width: 100%;
  background-image: url("../MathAmity2019/p5back.png");
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#p6 {
  height: 100%;
  width: 100%;
  background-image: url("../MathAmity2019/p6back.png");
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #454545;
  background-color: #a2c6afff;
  overflow-y: hidden;
  overflow-x: hidden;
}

#headp6 {
  font-size: 5vw;
  width: 80%;
  text-align: left;
  z-index: 1;
  margin-top: 10%;
  margin-left: 20%;
  transform: translate(0, 20%);
  transition: 1.5s;
}

#headp6:hover {
  color: white;
  font-size: 5.5vw;
  letter-spacing: 3px;
  transform: translate(-5%, 20%);
}

#p6content {
  width: 50%;
  margin-left: 10%;
  margin-right: 40%;
  margin-top: 5%;
  text-align: center;
  font-size: 3vw;
  transition: 3s;
}

#p6content:hover {
  color: #a8a8a8;
}

#p7 {
  height: 100%;
  width: 100%;
  background-image: url("../MathAmity2019/p7back.png");
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#p8 {
  height: 100%;
  width: 100%;
  background-image: url("../MathAmity2019/p8back.png");
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #344569;
  background-color: #c33d58ff;
  overflow-y: hidden;
  overflow-x: hidden;
}

#headp8 {
  font-size: 5vw;
  width: 100%;
  text-align: center;
  z-index: 1;
  margin-top: 10%;
  transition: 1.5s;
  margin-left: 5%;
  transform: translate(10%, 20%);
}

#headp8:hover {
  letter-spacing: 10px;
  color: #3475bb;
}

#p8content {
  width: 40%;
  margin-left: 50%;
  margin-right: 10%;
  margin-top: 5%;
  text-align: center;
  font-size: 3vw;
  transition: 3s;
}

#p8content:hover {
  color: #3475bb;
}

#p9 {
  height: 100%;
  width: 100%;
  background-image: url("../MathAmity2019/p9back.png");
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#p10 {
  height: 100%;
  width: 100%;
  /*background-color: #32a5c7ed;*/
  background-image: linear-gradient(to bottom left, #32a5c7ed, #239567ed);
  color: white;
}

#headp10 {
  width: 100%;
  margin-top: 10%;
  font-size: 6vw;
  text-align: center;
  transform: translate(0, 40%);
  transition: 1.5s;
}

#headp10:hover {
  letter-spacing: 8px;
  color: #30ccaa;
}

#p10content {
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 5%;
  font-size: 4vw;
  text-align: center;
  transition: 3s;
}

#p10content:hover {
  color: #30ccaa;
}

#special {
  font-size: 4.5vw;
  color: hotpink;
  transition: 1.5s;
}

#special:hover {
  color: white;
  font-size: 4.75vw;
  letter-spacing: 3px;
}

#thnx {
  font-size: 7vw;
  width: 100%;
  text-align: center;
  margin-top: 5%;
  color: hotpink;
  transition: 1.5s;
}

#thnx:hover {
  font-size: 8vw;
  letter-spacing: 15px;
  color: white;
}

#footer {
  width: 100%;
  height: 10%;
  /*background-color: #32a5c7ed;*/
  background-image: linear-gradient(to bottom right, #239567ed, #32a5c7ed);
  transition: 2s;
  font-size: 2vw;
  color: skyblue;
  text-align: center;
  border-top: 3px solid #30ccaa;
}

#footer:hover {
  background-color: #30ccaaed;
  color: white;
}
