html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	overflow-x: hidden;
}

a {
	text-emphasis: none;
	text-decoration: none;
}

#container {
	width: 100%;
	height: auto;
	font-family: sans-serif;
	user-select: none;
}

.full {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	/* background-color: white; */
	background: url("assets/paper.jpg");
	background-position: top;
	padding-top: 10vh;
}
.full::selection {
	background-color: black;
}

.heading {
	font-size: 11vw;
	font-weight: 700;
	align-self: center;
	display: inline;
	background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
}

.text {
	font-size: 7.6vw;
	font-weight: 700;
	width: 90vw;
	margin: auto;
	background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	align-self: center;
	text-align: center;
}

#text {
	font-size: 6vw;
	border-radius: 5px;
	padding: 3px;
}

#img {
	height: 40vh;
	width: 40vh;
	background-position: center;
	background-size: contain;
	border-radius: 50%;
	align-self: center;
	background-image: url("assets/ppic.jpg");
}

#gallery {
	display: grid;
	grid-template-columns: 44vw 44vw;
	grid-template-rows: 29.5vh 29.5vh 29.5vh;
	justify-content: space-evenly;
	align-content: space-evenly;
}

.img_small {
	height: 29.5vh;
	width: 44vw;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	/* background: black; */
	border-radius: 30px;
	justify-content: space-evenly;
	display: flex;
	flex-direction: column;
}

.caption {
	opacity: 0;
	/* background-color: rgba(255, 251, 251, 0.9); */
	background: rgb(255, 255, 255);
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 1) 8%,
		rgba(255, 255, 255, 0.4762371501334909) 94%,
		rgba(255, 255, 255, 0) 100%
	);
	color: black;
	font-weight: 500;
	transition: all 0.5s;
	height: 100%;
	width: 100%;
	font-size: 4vw;
	text-align: center;
	align-self: center;
	padding-top: 40%;
	padding-right: 5%;
	padding-left: 5%;
}

.img_small:hover .caption {
	opacity: 1;
	transition: all 0.5s;
}

#p1 {
	background-image: url("assets/DSCN1969.JPG");
}
#p2 {
	background-image: url("assets/DSCN3956.JPG");
}
#p3 {
	background-image: url("assets/DSCN4116.JPG");
}
#p4 {
	background-image: url("assets/DSCN4119.JPG");
}
#p5 {
	background-image: url("assets/DSCN4132.JPG");
}
#p6 {
	background-image: url("assets/DSCN4140.JPG");
}

.widget {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
}

.widget a {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.widget_img {
	height: 10vw;
	width: 10vw;
}

.widget_text {
	font-size: 7.6vw;
	font-weight: 700;
	padding-left: 2vw;
	background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	align-self: center;
	text-align: center;
}

#navbar {
	height: 80vh;
	width: 100vw;
	position: fixed;
	top: 10vh;
	right: 95vw;
	transition: all 1s;
	background-color: rgba(71, 68, 68, 0.801);
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: center;
	text-align: center;
}

#navbar:hover {
	right: 0;
	background-color: rgb(255, 255, 255);
	color: black;
	transition: all 1s;
}

#navbar:hover a {
	color: black;
	transition: all 1s;
}

#navbar a {
	text-emphasis: none;
	text-decoration: none;
	color: white;
	transition: all 1s;
}

.navbar_element {
	transition: all 1s;
	background-color: rgba(158, 158, 158, 0);
	padding-top: 5px;
	padding-bottom: 5px;
}

.navbar_element:hover {
	background-color: rgb(158, 158, 158);
	transition: all 1s;
}

@media screen and (min-width: 500px) {
	.full {
		height: 100vh;
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		/* background-color: white; */
		background: url("assets/paper.jpg");
		background-position: top;
		padding-top: 10vh;
		background-size: cover;
	}

	.heading {
		font-size: 7vh;
		font-weight: 700;
		align-self: center;
		display: inline;
		background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-align: center;
	}

	#intro {
		font-size: 5.5vh;
		width: fit-content;
	}

	.text {
		font-size: 4.5vh;
		font-weight: 700;
		width: 60vw;
		margin: auto;
		background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		align-self: center;
		text-align: center;
	}

	#text {
		font-size: 4.5vh;
		border-radius: 5px;
		padding: 3px;
	}

	#img {
		height: 40vh;
		width: 40vh;
		background-position: center;
		background-size: contain;
		margin-top: 5vh;
		border-radius: 50%;
		align-self: center;
		background-image: url("assets/ppic.jpg");
	}

	#gallery {
		display: grid;
		grid-template-columns: 30vw 30vw 30vw;
		grid-template-rows: 45vh 45vh;
		justify-content: space-evenly;
		align-content: space-evenly;
	}

	.img_small {
		height: 45vh;
		width: 30vw;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		/* background: black; */
		border-radius: 30px;
		justify-content: space-evenly;
		display: flex;
		flex-direction: column;
	}

	.caption {
		opacity: 0;
		/* background-color: rgba(255, 251, 251, 0.9); */
		background: rgb(255, 255, 255);
		background: radial-gradient(
			circle,
			rgba(255, 255, 255, 1) 8%,
			rgba(255, 255, 255, 0.4762371501334909) 94%,
			rgba(255, 255, 255, 0) 100%
		);
		color: black;
		font-weight: 500;
		transition: all 0.5s;
		height: 100%;
		width: 100%;
		font-size: 4vh;
		text-align: center;
		align-self: center;
		padding-top: 40%;
		padding-right: 5%;
		padding-left: 5%;
	}

	.img_small:hover .caption {
		opacity: 1;
		transition: all 0.5s;
	}

	#p1 {
		background-image: url("assets/DSCN1969.JPG");
	}
	#p2 {
		background-image: url("assets/DSCN3956.JPG");
	}
	#p3 {
		background-image: url("assets/DSCN4116.JPG");
	}
	#p4 {
		background-image: url("assets/DSCN4119.JPG");
	}
	#p5 {
		background-image: url("assets/DSCN4132.JPG");
	}
	#p6 {
		background-image: url("assets/DSCN4140.JPG");
	}

	.widget {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: center;
	}

	.widget a {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 100%;
	}

	.widget_img {
		height: 10vh;
		width: 10vh;
	}

	.widget_text {
		font-size: 4.5vh;
		font-weight: 700;
		padding-left: 2vw;
		background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		align-self: center;
		text-align: center;
	}

	#navbar {
		height: 80vh;
		width: 40vw;
		position: fixed;
		top: 10vh;
		right: 97vw;
		transition: all 1s;
		background-color: rgba(71, 68, 68, 0.794);
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-content: center;
		text-align: center;
		font-size: 4vh;
		border-bottom-right-radius: 50px;
		border-top-right-radius: 50px;
	}

	#navbar:hover {
		right: 60vw;
		background-color: rgba(255, 255, 255, 0.938);
		color: black;
		transition: all 1s;
		border-bottom-right-radius: 0px;
		border-top-right-radius: 0px;
	}
}
